body{
    background-color:greenyellow;
}

.board {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .row {
    display: flex;
  }
  
  .square {
    width: 80px;
    height: 80px;
    font-size: 36px;
    font-weight: bold;
    margin: 4px;
    background-color:aquamarine;
    color: #333;
    border: 5px solid  rgb(6, 28, 68);
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease-in-out;
  }
  
  .square:hover {
    background-color: #eee;
  }
  
  .status {
    font-size: 24px;
    margin-bottom: 16px;
  }
  
  .reset {
    font-size: 18px;
    margin-top: 16px;
    padding: 8px 16px;
    background-color:rgb(105, 195, 231);
    color: #333;
    border: 2px solid #ccc;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease-in-out;
  }
  
  .reset:hover {
    background-color: #eee;
  }
  